*~
.DS_Store
.idea
.stack-adapt/
.vagrant
config/supervisord.conf
example/infoleak-small.provn
gremlin-server/
hs_err_pid*.log
infoleak-small.provn
kafka/
node_modules/
supervisord.log
supervisord.pid
