<!DOCTYPE html>

<meta charset="utf-8">
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.3.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='underscore.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vis.4.16.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='saved_queries.js') }}"></script>
    <link href="{{ url_for('static', filename='vis.4.16.1.css') }}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{{ url_for('static', filename='semantic-2.2.2/semantic.js') }}"></script>
    <link href="{{ url_for('static', filename='semantic-2.2.2/semantic.css') }}" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var node_data_set, edge_data_set, network, ui_spinner_timeout;  // saved_queries is loaded externally.
        var journal = []
        var collapsedQuery_params = []


        function makeQuery(query_string, success_function) {
            UI.loadingUIStart()
            document.getElementById('query-string').value = query_string.replace(/\.dedup\(\)$/, "")
            $.post("/query", {"query": query_string}, function(node_results) {
                if ( ! _.isEmpty(node_results)) {
                    var nodes_text_string = _.map(node_results, function(n) { return n['id'] }).join(",")
                    var edge_query = "x = [" + nodes_text_string + "].toArray(); g.V(x).bothE().dedup()"
                    $.post("/query", {"query": edge_query}, function(edge_results) {
                        var data = { "nodes" : node_results, "edges" : edge_results }
                        success_function(data)
                        UI.loadingUIStop()
                    }).fail(UI.failHandler)
                } else {
                    UI.loadingUIStop()
                }
            }).fail(UI.failHandler)
        }


        var UI = {
            queryClick : function() {
                $('#query-string').css("background-color", "white")
                var query_string = document.getElementById('query-string').value + ".dedup()"
                makeQuery(query_string, updateNetwork)
            },
            failHandler : function(response) {
                $('#query-string').css("background-color", "pink")
                UI.loadingUIStop()
            },
            clearInput : function() { 
                $("#query-string").css("background-color", "white")
            },
            ajax_in_progress_count : 0,
            loadingUIStart : function() {
                UI.ajax_in_progress_count++
                $("#loader").state("activate")
            },
            loadingUIStop : function() {
                UI.ajax_in_progress_count--
                if (UI.ajax_in_progress_count <= 0) {
                    UI.ajax_in_progress_count = 0
                    $('#loader').state('deactivate')
                }
            },
            animate : function(millisOrBool) {
                if (typeof millisOrBool === "boolean") {
                    network.setOptions({ physics: millisOrBool })
                } else {
                    var millis = typeof millisOrBool === "number" ? millisOrBool : 1000
                    network.setOptions({ physics: true })
                    setTimeout(function() {
                        network.setOptions({ physics: false })
                        $("#animate-button").html("Animate")
                        $("#animate-button").click(function(){ UI.animateButton(true) })
                    }, millis)
                }
            },
            animateButton : function(should) {
                if (should) {
                    UI.animate(true)
                    $("#animate-button").html("Pause")
                    $("#animate-button").click(function(){ UI.animateButton(false) })
                } else {
                    UI.animate(false)
                    $("#animate-button").html("Animate")
                    $("#animate-button").click(function(){ UI.animateButton(true) })
                }
            }
        }


        function draw(data) {
            var container = document.getElementById('graph')
            var options = {
                interaction : { hover : true },
                layout: { 
                    improvedLayout : false,
                    randomSeed : 10203040
                },
                physics: {
                    forceAtlas2Based: {
                        gravitationalConstant: -26,
                        centralGravity: 0.005,
                        springLength: 230,
                        springConstant: 0.18,
                        avoidOverlap: 1.5

                    },
                    maxVelocity: 25,
                    solver: 'forceAtlas2Based',
                    timestep: 0.25,
                    stabilization: {
                        enabled: true,
                        iterations: 150,
                        updateInterval: 25
                    }
                },
                nodes : {
                    shape: 'dot',
                    size: 15
                },
                edges: {
                    smooth: false
                }
            }

            node_data_set = new vis.DataSet(data.nodes)
            edge_data_set = new vis.DataSet(data.edges)
            var network_data = { "nodes" : node_data_set, "edges" : edge_data_set}
            network = new vis.Network(container, network_data, options)
            journal = [data]

            network.on("doubleClick", networkDoubleClickBehavior)
            network.on("oncontext", networkRightClickBehavior)
        }


        function collapsedQuery(starting_node_id, floating_query, edge_name) {
            var query_string = "x = "+starting_node_id+"; g.V(x)" + floating_query
            var addSpecialEdges = function(data) {
                var special_edges = _.map(data['nodes'], function(n) {
                    return {
                        id: "COLLAPSED-" + Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 23),
                        inV: n.id,
                        type: "edge",
                        outV: starting_node_id,
                        inVLabel: n.label,
                        outVLabel: node_data_set.get(starting_node_id).label,
                        label: typeof edge_name !== 'string' ? floating_query : edge_name,
                        title: floating_query
                    }
                })
                var all_edges = data['edges'].concat(special_edges)
                var new_data = { 
                    "nodes" : uniqueFromValue(data['nodes']),
                    "edges" : uniqueFromValue(all_edges, function(e){ return String(e.outV)+e.title+String(e.inV) } ) 
                }
                return new_data
            }
            var updateNetworkAtId = _.partial(updateNetwork, _, starting_node_id)
            var addAndUpdate = _.compose(updateNetworkAtId, addSpecialEdges)
            makeQuery(query_string, addAndUpdate)
        }


        function updateNetwork(additional_data, starting_node_id) {
            var new_nodes = _.filter(additional_data['nodes'], function(n){ return ! node_data_set.get(n.id) })
            var new_edges = _.filter(additional_data['edges'], function(e){ return ! edge_data_set.get(e.id) })
            journal.push({"nodes": new_nodes, "edges": new_edges})
            // Add position, if needed:
            if (typeof starting_node_id === "number" && typeof node_data_set.get(starting_node_id) === "object") {
                var bbox = network.getBoundingBox(starting_node_id)
                var starting_position = { x: (bbox.left + bbox.right) / 2, y: (bbox.top + bbox.bottom) / 2 }
                new_nodes = _.map(new_nodes, function(n) {
                    n['x'] = starting_position.x
                    n['y'] = starting_position.y
                    return n
                })
            }
            node_data_set.add(formatNodes(new_nodes))
            edge_data_set.add(formatEdges(new_edges))
            UI.animate()
        }


        function undoUpdateNetwork(steps) {
            var steps = typeof steps === "number" ? steps : 1
            var to_remove_list = _.last(journal, steps).reverse()
            _.map(to_remove_list, function(d) {
                var node_ids_to_remove = _.pluck(d.nodes, "id")
                var edge_ids_to_remove = _.pluck(d.edges, "id")
                node_data_set.remove(node_ids_to_remove)
                edge_data_set.remove(edge_ids_to_remove)
            })
            journal.pop()
            UI.animate()
        }


        function networkDoubleClickBehavior (props) {
            if (props['nodes'].length == 1) {
                var starting_node_id = props['nodes'][0]
                var node_query = "g.V(" + starting_node_id + ").bothE().bothV().dedup()"
                makeQuery(node_query, _.partial(updateNetwork, _, starting_node_id))
            }
        }


        function networkRightClickBehavior(props) {
            $("#node-query-menu ul").empty()
            var node_id = network.getNodeAt({x: props['pointer']['DOM']['x'], y: props['pointer']['DOM']['y']})
            if (typeof node_id == 'number') {
                $.post("/query", {"query": "g.V(" + node_id + ")"}, function(node_result) {
                    var relevant_saved_queries = _.filter(saved_queries, function(q){ return q.is_relevant(node_result[0])})
                    collapsedQuery_params =  []
                    var idx = 0
                    _.map(relevant_saved_queries, function(q) {
                        collapsedQuery_params.push([node_id, q.floating_query, q.name])
                        $("#node-query-menu ul").append(
                            '<li title="'+ q.floating_query +'" onclick="collapsedQuery(collapsedQuery_params['+idx+'][0],collapsedQuery_params['+idx+'][1],collapsedQuery_params['+idx+'][2])">' + q.name + '</li>'
                        )
                        idx++
                    })
                    document.getElementById("node-query-menu").style.top =  props['pointer']['DOM']['y'] + 'px'
                    document.getElementById("node-query-menu").style.left = props['pointer']['DOM']['x'] + 'px'
                    document.getElementById("node-query-menu").className = "show"  
                })
            }
        }


        function formatNodes(raw_results) {
            var nodes = _.filter(raw_results, function(i) { return i['type'] == "vertex" })
            return _.map(nodes, function(n) {
                // return {
                //     "id" : n['id'],
                //     "label" : makeNodeLabel(n),
                //     "title" : makeNodeTitle(n),
                //     "font" : {
                //         "strokeWidth" : 3, 
                //         "strokeColor" : 'white'}
                // }
                n["label"] = makeNodeLabel(n),
                n["title"] = makeNodeTitle(n),
                n["font"] = {"strokeWidth" : 3, "strokeColor" : 'white'}
                return n
            })
        }


        function formatEdges(raw_edge_results) {
            var edges = _.filter(raw_edge_results, function(i) { return i['type'] == "edge" })
            return _.map(edges, function(e, i, list) {
                var new_edge = { 
                    "id" : e['id'],
                    "from" : e['outV'],
                    "to" : e['inV'],
                    // "label" : e['label'],
                    "arrows" : "to",
                    "title" : e['label'] 
                }
                if (typeof e['id'] === 'string' && e['id'].substring(0, 10) === "COLLAPSED-") {
                    new_edge['label'] = e['label']
                    new_edge['title'] = e['title']
                    new_edge['color'] = "green"
                    new_edge['dashes'] = true
                }
                return new_edge
            })
        }


        function uniqueFromValue(array, function_object_to_unique_value) {
            var f = typeof function_object_to_unique_value === "function" ? function_object_to_unique_value : function(x){ return x.id }
            var id_list = _.map(array, f)
            var unique_ids = Array.from(new Set(id_list))
            var unique_data_by_id = _.map(unique_ids, function(id) {
                var idx = _.indexOf(id_list, id)
                return array[idx]
            })
            return unique_data_by_id
        }


        function makeNodeLabel(node) {
            // attempting to improve readability of node labels by translating enums
            var keys = Object.keys(node['properties'])
            // define enum translation function
            function translateEnum(prop_key, ordered_list) {
                var node_has_prop = $.inArray(prop_key, keys) >= 0
                if (node_has_prop) {
                    var idx = node['properties'][prop_key][0]['value']
                    if (ordered_list.length > idx) { 
                        node['properties'][prop_key][0]['value'] = ordered_list[idx]
                    }
                }
            }

            if (node['label'] == "Subject") {
                // translate subject properties to text
                translateEnum("subjectType", ["Process","Thread","Unit","Block","Event"])
                var t = (node['properties'].hasOwnProperty('subjectType') ? node['properties']['subjectType'][0]['value'] : "None")
                translateEnum("eventType", ["EventAccept","Bind","ChangePrincipal","CheckFileAttributes","Clone","Close","Connect","CreateObject","CreateThread","Execute","Fork","Link","Unlink","Mmap","ModifyFileAttributes","Mprotect","Open","Read","RecvFrom","RecvMsg","Rename","Write","Signal","Truncate","Wait","OsUnknown","KernelUnknown","AppUnknown","UiUnknown","Unknown","Blind","Unit","Update","SendTo","SentMsg","Shm","Exit"])
                var e = (node['properties'].hasOwnProperty('eventType') ? node['properties']['eventType'][0]['value'] : "None")
                var pid = (node['properties'].hasOwnProperty('pid') ? node['properties']['pid'][0]['value'] : "None")
                if (t == "Process") {return t + " " + pid}
                if (t == "Event" && (e == "Write" || e == "Read"))   
                    {return t + " " + e + ", size " + node['properties']['size'][0]['value']}
                else 
                    {return t + " " + e}
                if (t == "Thread")  {return t + " of " + pid}
                if (t == "Unit")    {return t}
                if (t == "Block")   {return t}
//                return t + ", E: " + e + ", PID: " + pid
            } else if (node['label'] == "Entity-File") {
                var url = (node['properties'].hasOwnProperty('url') ? node['properties']['url'][0]['value'] : "None")
                var file_version = (node['properties'].hasOwnProperty('file-version') ? node['properties']['file-version'][0]['value'] : "None")
                return "File " + url + " : " + file_version
            } else if (node['label'] == "Entity-NetFlow") {
                var dest = (node['properties'].hasOwnProperty('dstAddress') ? node['properties']['dstAddress'][0]['value'] : "None")
                var port = (node['properties'].hasOwnProperty('dstPort') ? node['properties']['dstPort'][0]['value'] : "None")
                return "Net " + dest + " : " + port
            } else if (node['label'] == "Agent") {
                translateEnum("agentType", ["Local","Remote"])
                var at = (node['properties'].hasOwnProperty('agentType') ? node['properties']['agentType'][0]['value'] : "None")
                return at + " Agent, uid " + node['properties']['userID'][0]['value']
            } else {
                return node['label'].replace(/^(EDGE_)/,"").replace(/^(EVENT_)/,"")
            }
        }


        function makeNodeTitle(node) {
            var keys = Object.keys(node['properties'])

            function translateEnum(prop_key, ordered_list) {
                var node_has_prop = $.inArray(prop_key, keys) >= 0
                if (node_has_prop) {
                    var idx = node['properties'][prop_key][0]['value']
                    if (ordered_list.length > idx) { 
                        node['properties'][prop_key][0]['value'] = ordered_list[idx]
                    }
                }
            }
            
            translateEnum("subjectType", ["Process","Thread","Unit","Block","Event"])

            translateEnum("eventType", ["EventAccept","Bind","ChangePrincipal","CheckFileAttributes","Clone","Close","Connect","CreateObject","CreateThread","Execute","Fork","Link","Unlink","Mmap","ModifyFileAttributes","Mprotect","Open","Read","RecvFrom","RecvMsg","Rename","Write","Signal","Truncate","Wait","OsUnknown","KernelUnknown","AppUnknown","UiUnknown","Unknown","Blind","Unit","Update","SendTo","SentMsg","Shm","Exit"])

            translateEnum("source", ["Accelerometer","Temperature","Gyroscope","MagneticField","HeartRate","Light","Proximity","Pressure","RelativeHumidity","LinearAcceleration","Motion","StepDetector","StepCounter","TiltDetector","RotationVector","Gravity","GeomagneticRotationVector","Camera","Gps","Audio","SystemProperty","EnvVariable","SinkIpc","Unknown"])

            translateEnum("agentType", ["Local","Remote"])

            var prop_lines = _.map(keys, function(key, i, list) {
                return key + " : " + node['properties'][key][0]['value']  // WARNING: this [0] might throw away data somewhere (but not in any data that I see)
            })
            return "id : " + node['id'] + "<br />" + prop_lines.join("<br />")
        }


        $(document).bind("click", function(event) {
            document.getElementById("node-query-menu").className = "hide"
        })
        $(function(){
            draw( { "nodes" : [], "edges" : [] } )
            $("#animate-button").click(function(){ UI.animateButton(true) })
        })
    </script>

    <style type="text/css">
        html, body, #graph {
            padding: 0px;
            margin: 0px;
            height: 100%;
            width: 100%;
        }
        .show {
            z-index: 1;
            position: absolute;
            background-color: rgba(234, 236, 53, 0.7);
            border: 1px solid #424242;
            padding: 20px;
            display: block;
            margin: 0;
            list-style-type: none;
            list-style: none;
            border-radius: 15px;
        }
        .hide { display: none; }
        .show ul { margin: 0px; padding: 0px; }
        .show li { list-style: none; padding-bottom: 1em; }
        .show ul li:last-child { padding-bottom: 0em; }
        .show a { border: 0 !important; text-decoration: none; }
        .show a:hover { text-decoration: underline !important; }
        #loader, #checkmark { float: right; }

    </style>
</head>
<body>
    <input class="ui" id="query-string" value="g.V().limit(10)" placeholder="Query returning nodes" onfocus="UI.clearInput()" autofocus onkeyup="if (event.keyCode == 13) document.getElementById('query-button').click()" size=80 />
    <button class="ui" id="query-button" onclick="UI.queryClick()">Query</button>
    <button class="ui" id="undo-button" onclick="undoUpdateNetwork()">Undo</button>
    <button class="ui" id="animate-button">Animate</button>
    <div id="loader" class="ui inline loader small"></div>
    <div id="graph" oncontextmenu="event.preventDefault()"></div>
    <div class="hide" id="node-query-menu"><ul></ul></div>
</body>
</html>
